.title-card{
    font-size: 26px;
}

.btn-danger:hover{
    background-color: #d13404;
    border-color: #d13404;
}

.btn-danger:focus{
    background-color: #ff4b14;
    border-color: #ff4b14;
}

.hlink{
    cursor:pointer;
}